NEXT_PUBLIC_URL="http://localhost:3000"
NEXT_PUBLIC_NODE_ENV="development"

NEXT_PUBLIC_RECAPTCHA=""
RECAPTCHA_SECRET=""

NEXT_PUBLIC_BASIC_ID=""
NEXT_PUBLIC_PROFESSIONAL_ID=""
STRIPE_SECRET=""
STRIPE_WEBHOOK_SECRET=""

NEXT_PUBLIC_CLOUDINARY_KEY=""
NEXT_PUBLIC_CLOUDINARY_NAME=""
CLOUDINARY_SECRET=""

SESSION_SECRET=""

EMAIL_SERVER_HOST="smtp.ethereal.email"
EMAIL_SERVER_PORT="587"
EMAIL_SERVER_USER=""
EMAIL_SERVER_PASSWORD=""
EMAIL_FROM=""

DB_URI=""
DB_NAME=""
