MONGODB_URI=""
DB_NAME=""

EMAIL_SERVER_HOST="smtp.ethereal.email"
EMAIL_SERVER_PORT="587"
EMAIL_SERVER_USER=""
EMAIL_SERVER_PASSWORD=""
EMAIL_FROM=""
NEXT_PUBLIC_URL="http://localhost:3000"

NEXTAUTH_SECRET=""
SESSION_SECRET=""
NODE_ENV="development"

NEXT_PUBLIC_RECAPTCHA=""
RECAPTCHA_SECRET=""

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
NEXT_PUBLIC_BASIC_ID=""
NEXT_PUBLIC_PROFESSION_ID=""

NEXT_PUBLIC_CLOUDINARY=""
NEXT_PUBLIC_CLOUDINARY_NAME=""
CLOUDINARY_SECRET_KEY=""

GH_TOKEN=""     #not required
PROJECT_ROOT="" #not required
